@import "../../../assets/styles/mixins";
@import "../../../assets/styles//vars";
.news-article {
    @include flexCenter;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 28px;
    padding: 32px;
    text-align: center;
    border-radius: 28px;
    width: 320px;
    height: 448px;
    border: 1px solid rgba(187, 187, 187, 0.08);
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
    &__image img {
        width: 256px;
        height: 120px;
    }
    &__title {
        width: 256px;
        height: 104px;
        overflow: hidden;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
    }
    &__body {
        width: 256px;
        height: 96px;
        overflow: hidden;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
    }
}