@import '../../../assets/styles/mixins';
@import '../../../assets/styles//vars';
.news {
    width: 100%;
    @include flexCenter;
    flex-direction: column;
    gap: 48px;
    &__buttons {
        width: 100%;
        @include flexCenter;
        justify-content: flex-end;
        flex-direction: row;
        gap: 30px;
    }
    &__button {
        @include flexCenter;
        padding: 8px;
        width: 64px;
        height: 64px;
        border-radius: 50px;
        border: 1px solid $button-active-color;
        background: white;
        background-color: $button-active-color;
        svg {
            stroke: white;
        }
        &:disabled {
            background-color: white;
            ;
            svg {
                stroke: $black-letters-color;
            }
        }
        &:hover,
        &:focus {
            border: 3px solid $link-hover-color
        }
    }
    &__articles-wrapper {
        @include flexCenter;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }
}