.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}
.valid {
    border: 1px solid rgba(128, 128, 128, 0.2); 
}
.invalid {
    border: solid 2px #FF5631;
}

.input-icon {
    @include flexCenter;
}