.accordeon {
    width: 100%;
    &__summary-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        cursor: pointer;
    }
    &__summary-container {
        border: none;
        background-color: transparent;
    }
    &__summary,
    &__summary-container {
        color: #1c1c1e;
        font-size: 16px;
        font-family: "Ubuntu";
        font-weight: 500;
        line-height: 23.58px;
        word-wrap: break-word;
    }
    &__content {
        margin-top: 56px;
        color: #7b7454;
        font-size: 16px;
        font-family: "Ubuntu";
        font-weight: 400;
        line-height: 23.58px;
        word-wrap: break-word;
    }
}