.aboutCardTab {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__smallCards {
        @include flexCenter;
        justify-content: space-between;
        gap: auto;
        & .infoCardIcon {
            width: 32%
        }
    }
    &__bigCards {
        @include flexCenter;
        justify-content: space-between;
        gap: auto;
        & .infoCardIcon {
            width: 49%
        }
    }
}