.news-sub {
    @include flexCenter;
    flex-direction: column;
    gap: 15px;
    position: relative;
    width: 40%;
    &__title {
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 147.4%;
        letter-spacing: 0.6px;
    }
    &__sub-content {
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 147.4%;
        letter-spacing: 0.6px;
    }
    &__form {
        @include flexCenter;
        justify-content: space-between;
        gap: 10px;
        padding: 20px 20px;
        border-radius: 20px;
        height: 70%;
        width: 100%;
        background: #fff;
        box-shadow: 0px 10px 20px 0px rgba(54, 58, 120, 0.1);
    }
    &__email-input {
        padding-left: 30px;
        width: 80%;
        border: none;
        background-image: url("../../assets/images/design/email 1.png");
        background-repeat: no-repeat;
        background-size: contain;
        outline: none;
        background-color: transparent;
        font-family: "Nunito Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 147.4%;
        color: #9092b0;
        &::placeholder {
            font-family: "Nunito Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 147.4%;
        }
    }
    &__submit-button {
        padding: 15px;
        border-radius: 20px;
        border: none;
        background: #686df1;
        color: $white;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 126.9%;
    }
}

@media (max-width: $mobile) {
    .news-sub {
        width: 90%;
        &__title {
            font-size: 20px;
        }
        &__sub-content {
            font-size: 20px;
        }
        &__form {
            padding: 10px 15px;
        }
    }
}

@media (min-width: $mobile) and (max-width: $tablet) {
    .news-sub {
        width: 60%;
    }
}