.error404 {
    height: 100%;
    &__wrapper {
        @include flexCenter;
        flex-direction: row;
        gap: 289px;
    }
    &__info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 32px;
    }
    &__emotion {
        color: #1c1c1e;
        text-align: center;
        font-family: "Ubuntu";
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 112%;
    }
    &__title {
        color: #000;
        text-align: center;
        font-family: "Ubuntu";
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 112%;
    }
    &__error-desc {
        display: flex;
        justify-content: flex-start;
        color: #4b4b4b;
        text-align: left;
        font-family: "Ubuntu";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 112%;
    }
    &__button {
        width: 192px;
        height: 40px;
    }
}

@media screen and (max-width: $tablet) {
    .error404 {
        &__wrapper {
            gap: 0;
        }
        & img {
            display: none;
        }
    }
}

@media screen and (max-width: $mobile) {
    .error404 {
        &__info {
            @include flexCenter;
        }
        &__error-desc {
            text-align: center;
        }
    }
}