.rates-conditions {
    width: 100%;
    &__note {
        @include flexCenter;
        flex-direction: row;
        justify-content: space-between;
        width: 75%;
        padding: 24px 0px 24px 0px;
        border-bottom: 1px solid #7F92AC;
    }
    &__note:nth-last-child(1) {
        border: none;
    }
    &__rate {
        @include flexStart;
        width: 30%;
        height: 100%;
        color: black;
        font-size: 16px;
        font-family: "Ubuntu";
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.32px;
        word-wrap: break-word
    }
    &__condition {
        margin-bottom: 5px;
        width: 100%;
        color: #434343;
        font-size: 16px;
        font-family: "Ubuntu";
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.32px;
        word-wrap: break-word
    }
    &__conditions-container {
        @include flexStart;
        flex-wrap: wrap;
        width: 60%;
    }
}